<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reporte</title>
  </head>
  <body>
    <h1>Reporte de Gastos</h1>
    <p>Descarga el Reporte, justo debajo de este correo.</p>

  </body>
</html>